.speech {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    background: #444;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}

.bottom::after {
    /* [THESE WILL CREATE THE TRIANGLE] */
    content: '';
    border: 20px solid transparent;
    border-top-color: #444;
    border-bottom: 0;
    /* [THESE WILL POSITION THE TRIANGLE] */
    position: absolute;
    bottom: -10px;
    left: 85%;
    margin-left: -20px;
}

.borderGrey{
    border-color: grey;
    border-width: 2px;
    border-style: solid;
}


.midSquare{

    padding:1.5rem;
}

.subText{
    color:#369dd5;
    font-style: italic;
}


#mainSearchBar {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

.searchButton{
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

.searchButton:hover {
    background: #0b7dda;
}


.searchWrapper{
    content: "";
    clear: both;
    display: table;

}










.cardImg{
    height: 20vh;
    object-fit: cover;
}


body  {
    background-image: url("../../img/grocery.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    backdrop-filter: blur(3px);
}


.btn-circle {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 100%;
    padding-top: 0.75rem;
}

.btn-circle:hover {
    background: rgba(255,255,255,0.1);
}

.scrollIcon{
    vertical-align: 30%;
    font-size: 3rem;
    text-decoration: none;
    color:whitesmoke;
}

.stickyWrapper{
    position: sticky;
    position: -webkit-sticky;
    top:85%;
    /*margin-left:47.7%;*/
    margin-left:5%;
    z-index: 101;
    height: 0rem;
}


/*
MOBILE START
                  _     _ _
                 | |   (_) |
  _ __ ___   ___ | |__  _| | ___
 | '_ ` _ \ / _ \| '_ \| | |/ _ \
 | | | | | | (_) | |_) | | |  __/
 |_| |_| |_|\___/|_.__/|_|_|\___|

 */

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    /* Styles */
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    /* Styles */
}

/* old Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    /* Styles */
    .stickyWrapper{
        margin-left: 42% !important;
    }
    .cardImg{
        height: 15vh !important;
    }
}

/* old Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
    /* Styles */

}

/* old Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
    /* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
    /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    /* Styles */
}

/* Android Tablet (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 800px)
and (max-device-width : 1280px) {
    /* Styles */
}

/* Android Tablet (landscape) ----------- */
@media only screen
and (min-device-width : 800px)
and (max-device-width : 1280px)
and (orientation : landscape) {
    /* Styles */
}

/* Android Tablet (portrait) ----------- */
@media only screen
and (min-device-width : 800px)
and (max-device-width : 1280px)
and (orientation : portrait) {
    /* Styles */
}

/* Desire + Galaxy S2 (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 800px) {
    /* Styles */

}

/* Desire + Galaxy S2 (landscape) ----------- */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 820px)
and (orientation : landscape) {
    /* Styles */


}

/* Desire + Galaxy S2 (portrait) ----------- */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 800px)
and (orientation : portrait) {
    /* Styles */

}

