.searchbox {
    position: relative;
    height: 40px;
    width: 50%;
    margin:0px auto;
    overflow: hidden;
    border-bottom: 2px solid #fff;
    background: none;
    color: #fff;
    perspective: 1800px;
    perspective-origin: 40% 40%;
    transform-style: preserve-3d;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);



}
.searchbox--active {
    color: #000;
    width:100%;
}
.searchbox:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 20px;
    left: 0px;
    transform: rotateX(90deg);
    background: #fff;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);

}
.searchbox--active:after {
    top: 0px;
    left: 0px;
    transform: rotateX(0deg);

}
.searchbox input {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    padding-left: 8px;
    padding-right: 44px;
    border: none;
    font-size: 2rem;
    color: inherit;
    background: none;
}
.searchbox button {
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 44px;
    border: none;
    background: none;
    font-size: 1.4em;
    color: inherit;
}



@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    background: #5CA4EA;
    color: #fff;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.suggestions {
    position: relative;
    background: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 15px;
    margin: 0;
    list-style: none;
    color: #6E6E6E;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1) ;
    /*max-height: 0px;*/
    max-height: 0px;
    overflow-y: hidden;
}

.suggestions--active {

    transition: all 1.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    max-height: 15rem !important;
    /*max-height: 100% !important;*/
}

.suggestions.active {
    box-shadow: 0px -2px 15px rgba(33, 33, 33, 0.1);
}

.suggestions li {
    margin: 18px 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
}

.suggestions.active li {
    opacity: 1;
    height: unset;
}

.suggestions li:hover {
    color: #4D8DCB;
}

.suggestions li b {
    font-weight: 600;
}

.clearfix::before,
.clearfix::after {
    content: " ";
    display: table;
}

.clearfix::after {
    clear: both;
}

*:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #A4B9CE;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #A4B9CE;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #A4B9CE;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #A4B9CE;
}

:placeholder-shown {
    /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
    color: #A4B9CE;
}
